<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Functional UI E2E tests" parallel="tests">
    <test name="Authorization Tests">
        <packages>
            <package name="ru.yandexmoney.tests.authorization"/>
        </packages>
    </test>
</suite>
